body{
  background-color: #081b29 ;
}

nav{
  padding: 20px;
  font-size: 25px;
}

.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;

}

li{
  margin-right: 30px;
}

.navitem{
  background-color:transparent;
  padding: 10px 20px;
  transition: all 0.3s ease;
 
}

a{
  text-decoration: none;
  color:white;
  display: block;
  transition: all 0.3s ease;
}

.navitem:hover{
  cursor: pointer;
  border-bottom: 3px solid #00aaff; 
}
a:hover{
  color:#00aaff;
}

.home{
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0 10%;
  height: 100vh;
  background: url('img1.png') no-repeat;
}

.info{
  max-width: 600px;
  padding-left: 3%;

}

.name{
  color:#00aaff;

}

.intro{
  font-weight: 100;
  color: white;
}

.para{
  color: white;
}

.btn1{
  height: 45px;
  background-color: transparent;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  border: 3px solid #00aaff; 

}

.social{
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 40px;
  width: 210px;
}

.social a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width:40px;
  height:40px;
  background-color: transparent;
  border: 2px solid #00aaff;
  border-radius: 20%;
  font-size: 20px;
  color:white;
  text-decoration: none;
}